@media (max-width: 820px) {
    main {
        border-radius: 0;
        box-shadow: 0em .1em .5em #8f8f8f50;
        margin-top: 2em;
        width: 100%;
    }

    .title-name h1 {
        font-size: 2em;
    }

    .sub-title {
        font-size: .35em;
    }

    /* Section - Aviso */

    .aviso {
        width: 90%;
    }

    .sobre-mim ul li:nth-child(1) {
        margin-bottom: .5em;
    }

    .projetos-e-desenvolvimento {
        align-items:end;
        flex-direction: column;
        width: 100%;
    }

    .projetos, .desenvolvimento {
        justify-content: left;
        width: 90%;
    }

    .exercicios {
        width: 85%;
    }

    .sobre-mim h2, .exercicios h2 {
        font-size: 1.5em;
    }

    .sobre-mim ul li, .aviso p, .exercicios p, .text-exercicios button {
        font-size: .8em;
    }
}

@media (min-width: 320px) and (max-width: 360px){
    .title-name h1 {
        font-size: 1.7em;
    }
}