body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

main {
    background-color: #ffffff50;
    border-radius: 1em;
    box-shadow: .5em .5em 1em #27272750;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50em;
    margin-top: 3em;
}

footer {
    color: #333;
    font-size: 18px;
    font-weight: 300;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(109, 233, 146, 0.205);
    padding: 1em;
    margin-top: 2em;
}

.footer a {
    font-weight: 400;
    color: #3a9e5f;
    transition: all .3s ease-in-out;
}

.footer a:hover {
    color: #147236;
}

/* Edição geral */

.link-edit a {
    background-color: #44c970;
    border-radius: 1em;
    color: #fff;
    padding: .5em 1em;
    font-size: 12px;
    font-weight: 300;
    margin-left: .5em;
    transition: all .3s ease-in-out; 
}

.link-edit a:hover {
    background-color: #3a9e5f;
}

.negrito {
    font-weight: 700;
}

/* Section - nome-e-tipoProjeto */

.nome-e-tipoProjeto {
    width: 100%;
}

.title-name h1 {
    font-size: 3em;
    font-weight: 700;
    color: #333;
    margin: 1em;
}

.title-name h1::after {
    content: '';
    display: block;
    width: 100%;
    height: .1em;
    background: linear-gradient(90deg, rgb(93, 189, 93), rgb(43, 43, 43));
    border-radius: 1em;
    margin-top: .3em;
}

.sub-title {
    margin-left: .5em;
    background-color: #333;
    color: #fff;
    padding: .5em .8em;
    border-radius: 1em;
    font-size: 12px;
    font-weight: 300;
}

.icon-title {
    color: #5dbd5d;
    margin-right: .2em;
}

/* Section - Aviso */

.aviso {
    background-color: #f08e8e;
    padding: 1em 2em;
}

.aviso p {
    border-left: .2em solid #640b0b;
    padding: 0em 1em;
    color: #640b0b;
}

/* Section - Sobre mim */

.sobre-mim {
    margin-top: 2em;
    width: 85%;
}

.title-aboutme h2 {
    font-size: 2em;
}

.title-aboutme h2::after {
    content: '';
    display: block;
    width: 100%;
    height: .2em;
    background-color: #e7e7e7;
    border-radius: 1em;
    margin-top: .1em;
}

.formacao ul {
    margin-top: 1em;
}

/* Section - Proejtos e Desenvolvimento */

.projetos-e-desenvolvimento {
    display: flex;
    margin-top: 2.5em;
    width: 85%;
}

.projetos, .desenvolvimento {
    width: 50%;
    margin: 0em .8em;
}

.projetos h2::after, .desenvolvimento h2::after {
    content: '';
    display: block;
    width: 95%;
    height: .2em;
    background-color: #e7e7e7;
    border-radius: 1em;
    margin-top: .1em;
}

.projetos-finalizados, .desen-andamento {
    margin-top: 0em;
    padding: 1em 2em;
}

.desen-andamento ul li, .projetos-finalizados ul li {
    list-style-type: disc;
}

.desen-primeiro p, .projetos-finalizados p {
    font-size: 12px;
    margin-top: .8em;
    padding: .3em 1em;
    border-left: .1em solid #d1d1d1;
}

.desen-primeiro span, .projetos-finalizados span {
    font-weight: 700;
}

/* Section - Exercícios */

.exercicios {
    margin-bottom: 3em;
    width: 82.5%;
}

.exercicios h2 {
    font-size: 1.5em;
    margin-bottom: .5em;
}

.exercicios h2::after {
    content: '';
    display: block;
    width: 100%;
    height: .2em;
    background-color: #e7e7e7;
    border-radius: 1em;
    margin-top: .1em;
}

.text-exercicios p {
    margin-bottom: 1em;
}

.text-exercicios button {
    color: #fff;
    background-color: #5dbd5d;
    border-left: .5em solid #147236;
    font-weight: 700;
    transition: all .3s ease-in-out;
    padding: 1em;
    cursor: pointer;
    font-size: 16px;
}

.text-exercicios button:hover {
    background-color: #3a9e5f;
}  
